.header {
  display: flex;
  position: fixed;
  top: -2px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 7.5rem;
  box-shadow: 0 0.1rem 0 #ddd;
  z-index: 1000;
}
.login {
  display: flex;
  align-items: center;
  color: #333;
}
.login::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url("../assets/usuario.svg") no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  top: -3px;
}
