* {
  box-sizing: border-box;
}
body {
  --type-first: Arial, Helvetica, sans-serif;
  font-family: var(--type-first);
  font-size: 1rem;
  margin-top: 6rem;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.animeLeft {
  opacity: 0;
  margin-left: -2rem;
  animation: animeLeft 0.3s forwards;
}
@keyframes animeLeft {
  to {
    opacity: initial;
    margin-left: initial;
  }
}
